html,
body {
  overflow: hidden;
}

.Initialization,
.Sort {
  cursor: pointer;
  fill: #bab0ac;
}

.Bad {
  fill: #e15759;
}

.Next {
  fill: #4e79a5;
}

.Constant {
  fill: #bcbd3b;
}

.Input {
  fill: #59a14f;
}

.State {
  fill: #76b7b2;
}

.And,
.Equals,
.LessThan,
.Logic,
.Not {
  fill: #f28e2b;
}

.IfThenElse {
  fill: #b07aa1;
}

.Addition,
.Arithmetic,
.Division,
.Extend,
.Multiplication,
.Remainder,
.Subtraction {
  fill: #ff9da7;
}

.Read {
  fill: #9c755f;
}

.Write {
  fill: #edc948;
}

.clicked {
  stroke: #a41a1a;
  stroke-width: 3px;
}

.Addition,
.And,
.Arithmetic,
.Bad,
.Constant,
.Division,
.Equals,
.Extend,
.IfThenElse,
.Input,
.LessThan,
.Logic,
.Multiplication,
.Next,
.Not,
.Read,
.Remainder,
.State,
.Subtraction,
.Write {
  cursor: pointer;
}
