body,
html {
  margin: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
  background-color: whitesmoke;
  user-select: none;
}

details {
  position: fixed;
  background-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  width: 20vw;
}

details[open] {
  height: 45vh;
}

summary {
  margin: 5px 0;
}

.local {
  top: 0;
  left: 0;
}

.global {
  bottom: 0;
  left: 0;
}

.selection {
  top: 0;
  right: 0;
  overflow: hidden;
}

.sandwich {
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.bloc-tabs {
  display: flex;
}

.tabs {
  padding: 15px;
  text-align: center;
  flex-grow: 1;
  box-sizing: content-box;
  outline: none;
}

.active-tabs {
  background: #76b7b2;
}

button {
  border: none;
}

.content-tabs {
  overflow-y: auto;
  height: 80%;
}

.content {
  display: none;
}

.active-content {
  display: block;
}

.selected {
  font-weight: bold;
  line-height: 20pt;
  background-color: #76b7b2;
}

summary,
.tabs {
  cursor: pointer;
}

.content-tabs li {
  padding: 0;
  margin: 5px 0;
  list-style-type: none;
  cursor: pointer;
}

.content-tabs ul {
  padding: 0 10px;
}

.Constant,
.Read,
.Write,
.Addition,
.Subtraction,
.Multiplication,
.Division,
.Remainder,
.Less-than,
.Extend,
.If-then-else,
.And,
.Not,
.Equals,
.Input,
.Bad,
.State,
.Next,
.Sort,
.Initialization {
  cursor: pointer;
  fill: #bab0ac;
}

.Bad,
.Next {
  fill: #e15759;
}

.Constant,
.Input {
  fill: #59a14f;
}

.State {
  fill: #76b7b2;
}

.And,
.Not,
.Equals,
.Less-than {
  fill: #f28e2b;
}

.If-then-else {
  fill: #b07aa1;
}

.Addition,
.Subtraction,
.Division,
.Multiplication,
.Remainder,
.Extend {
  fill: #ff9da7;
}

.Read {
  fill: #9c755f;
}

.Write {
  fill: #edc948;
}

.clicked {
  stroke: #4e79a7;
  stroke-width: 3px;
}
